<div class="form_group">
  <% if @image.image.attached? %>
    <%= image_tag @image.image, style: "width: 200px; display: block" %>
  <% end %>

  <%= f.label :image %>
  <%= f.file_field :image, class: "form_control" %>
</div>

<input type="submit" class="btn btn_info" value="Submit">